html, body{
    padding: 0;
    margin: 0;
    background-color: #e1ecee;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
 }

 /*header*/

 .header_navigation {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #eee3e1;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.63);
    top: 0;
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header_logo {
    margin-left: auto;
    margin-right: 36px;
}

.logo {
    width: 150px;
    height: 150px;
}

.navbar {
    margin: 0px;
}

.language {
    margin-left: 34px;
}

.registration {
    margin-right: auto;
    margin-left: 40px;
}

.product_count {
    background-color: #ff9595;
    padding: 0.5px 9px;
    border-radius: 50px;
    border: 1px solid #000000;
    text-decoration: none;
    outline: none;
    pointer-events: none;
}

ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
}
  
li {
    float: left;
}

.navbar li {
    padding: 0px 14px;
}

.language li{
    padding: 0px 10px;
}

li a {
    display: inline-block;
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    transform-origin: center;
    transition: transform 0.4s ease-out;
}
  
li a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

/*product message pop-up*/

.message{
    position: fixed;
    top: 18%; left: 10px;
    z-index: 11;
    background-color: white;
    padding: 20px 15px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Noto Sans', sans-serif;
    gap: 20px;
    border-radius: 5px;
 }
 
 .message span{
    color:black;
    font-size: 25px;
 }
 
 .message i{
    color:rgb(255, 0, 0);
    cursor: pointer;
 }
 
 .message i:hover{
    color:rgb(0, 0, 0);
 }

 .fa-close:before, .fa-multiply:before, .fa-remove:before, .fa-times:before, .fa-xmark:before {
    content: "X";
    font-style: normal;
    font-size: 25px;
}

/*Add products to website*/

.add_product {
    max-width: 500px;
    text-align: center;
    margin:0 auto;
    background-color: #eee3e1;
    font-size: 25px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 240px;
    font-family: 'Noto Sans', sans-serif;
    border: 2px solid #000000;
 }

 .add_product .box{
    padding:12px 14px;
    font-size: 17px;
    color:black;
    border-radius: 5px;
    background-color: white;
    margin: 10px 0;
    width: 100%;
    border-color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
 }

 .btn,
 .option-btn,
 .delete-btn{
    display: block;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    color:black;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
    border: 1px solid #000000;
    text-decoration: none;
}

 .btn:hover,
 .option-btn:hover{
   background-color: #e5eee1;
}

.delete-btn:hover{
    background-color: #f8aeae;
 }

 /*Product display*/

.display-product-table table{
    width: 1400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: 'Noto Sans', sans-serif;
 }
 
 .display-product-table table thead th{
    padding: 15px;
    font-size: 26px;
    background-color: #d3d3d3;
    color: rgb(0, 0, 0);
 }
 
 .display-product-table table td{
    padding: 14px;
    font-size: 20px;
    color: black;
    background-color: #ffffff;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 400px;
 }

  /*Product editting*/

 .edit-form-container{
    position: fixed;
    top:0; left:0;
    z-index: 1100;
    background-color: rgba(61, 61, 61, 0.822);
    padding: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
 }
 
 .edit-form-container form{
    width: 400px;
    border-radius: 5px;
    background-color: #eee3e1;
    border: 2px solid #000000;
    text-align: center;
    padding: 30px;
 }
 
 .edit-form-container form .box{
    width: 100%;
    border-radius: 5px;
    margin: 14px 0;
    font-size: 20px;
    color: black;
    padding: 5px;
    text-transform: none;
 }