html, body{
    padding: 0;
    margin: 0;
    background-color: #e1ecee;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
 }

 /*header*/

 .header_navigation {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #eee3e1;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.63);
    top: 0;
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header_logo {
    margin-left: auto;
    margin-right: 36px;
}

.logo {
    width: 150px;
    height: 150px;
}

.navbar {
    margin: 0px;
}

.language {
    margin-left: 34px;
}

.registration {
    margin-right: auto;
    margin-left: 40px;
}

.product_count {
    background-color: #ff9595;
    padding: 0.5px 9px;
    border-radius: 50px;
    border: 1px solid #000000;
    text-decoration: none;
    outline: none;
    pointer-events: none;
}

ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
}
  
li {
    float: left;
}

.navbar li {
    padding: 0px 14px;
}

.language li{
    padding: 0px 10px;
}

li a {
    display: inline-block;
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    transform-origin: center;
    transition: transform 0.4s ease-out;
}
  
li a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

/*contact info*/

.main {
    min-height: 680px;
}

.contacts {
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 240px;
    padding-bottom: 200px;
}

.contact_info {
    margin: 0px 80px;
}

.email {
    display: flex;
}

.email_logo {
    width: 30px;
    height: 30px;
    padding-top: 10px;
}

.phone_number {
    display: flex;
}

.telephone_logo {
    width: 30px;
    height: 30px;
    padding-top: 10px;
}

.contact_form {
    width: 500px;
}

.contact_email_subject {
    padding-bottom: 10px;
    justify-content: left;
    display: flex;
}

.c_email {
    width: 100%;
    margin-right: 5px;
    height: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    padding-left: 4px;
}

.c_subject {
    width: 100%;
    margin-left: 5px;
    height: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    padding-left: 4px;
}

.c_message {
    min-width: 487px;
    min-height: 180px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    padding: 4px 6px;
    margin-top: 2px;
}

.contact_button {
    justify-content: left;
    font-family: 'Noto Sans', sans-serif;
    margin: 6px 0px;
    width: 100px;
    height: 36px;
    font-size: 18px;
}

/*footer*/

.page_footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #eee3e1;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.63);
}

.footer_logo{
    justify-content: center;
    padding: 40px 60px;
    padding-left: 0px;
}

.footer_info {
    display: flex;
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
}

.footer_info a {
    padding: 0px 80px;
}

.footer_info p {
    padding: 41px 80px;
}

.footer_contact a {
    padding: 0px 7px;
    padding-bottom: 30px;
    text-decoration: none;
    color: #000;
    display: block;
}

.footer_contact{
    padding-top: 65px;
}

.footer_media a{
    padding: 0px 6px;
    padding-bottom: 30px;
    text-decoration: none;
    color: #000;
    display: block;
}

.footer_media{
    padding-top: 65px;
}