html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('https://cdn.discordapp.com/attachments/690155185321934898/1066390221383540746/Untitled_designs.png');
    background-size: cover;
    background-repeat: no-repeat;
 }

.header_navigation {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #eee3e1;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.63);
}

.header_logo {
    margin-left: auto;
    margin-right: 36px;
}

.logo {
    width: 150px;
    height: 150px;
}

.navigation {
    margin: 0px;
}

.language {
    margin-left: 34px;
}

.registration {
    margin-right: auto;
    margin-left: 40px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
}
  
li {
    float: left;
}

.navigation li {
    padding: 0px 14px;
}

.language li{
    padding: 0px 10px;
}

li a {
    display: inline-block;
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    transform-origin: center;
    transition: transform 0.4s ease-out;
}
  
li a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.welcome {
    text-align: center;
    margin-top: 120px;
    margin-bottom: auto;
    font-size: 28px;
    font-family: 'Noto Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}

.lower_welcome {
    display: flex;
    margin-top: 60px;
}

.main_description {
    text-align: left;
    margin-left: auto;
    margin-right: 50px;
}

.main_description_text_button {
    height: 40px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.63);
}

.main_description_text_button:hover {
    background-color: #e9e1ee;
}

.welcome_images {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: auto;
}

.image1 {
    height: 200px;
    width: 200px;
    padding: 0px 5px;
}

.welcome_images_button {
    display: block;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 27px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.63);
}

.welcome_images_button:hover {
    background-color: #e9e1ee;
}

.product_section{
    background-color: #eee3e1;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.63);
    margin-top: 100px;
    margin-bottom: -10px;
}

.product_title{
    text-align: center;
    margin-top: 80px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
}

.product_menu {
    display: flex;
    justify-content: center;
}

.category {
    display: block;
    margin-top: 30px;
    margin-right: 20px;
}

.category button {
    padding: 12px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 22px;
    font-family: Monospace;
    margin-top: -13px;
    font-family: 'Noto Sans', sans-serif;
    border: none;
}

.category button:hover {
    background-color: #e9e1ee;
}

.products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.card {
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.63);
    max-width: 240px;
    margin: 10px;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffffff;
}
  
.price {
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}
  
.card button:hover {
    background-color: #e9e1ee;
}

.statistics_section {
    background-color: #e1ecee;
}

.statistics_table {
    padding-top: 100px;
    justify-content: center;
}